html
    head 
        title SUTOM ta mère
        |<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        style.
            table, td {
                border: 1px solid #333;
            }
            thead, tfoot {
                background-color: #333;
                color: #fff;
            }
    body
        div 
            h Bienvenue sur le page de score !
            br
            | Retrouver vos statistiques ici !
        
        a(href="/") Aller jouer.

        table
            thead
                tr
                    th Info
                    th Value
            tbody
                tr
                    td Number of Word(s) found
                    td
                        span #{stat.nbWords}
                tr
                    td Average try
                    td
                        span #{stat.average}