html
    head 
        title SUTOM ta mère
        |<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        style
            include ../static/score.css
    body
    
        div(id="conteneur-page")
            nav 
                a(id="nav-element" href='/') Aller jouer
                h SUTOM 
                    i ta mère
                a(id="nav-element" href='/logout') Logout

            div(id="main")
                div 
                    h Bienvenue sur le page de score !
                    br
                    | Retrouver vos statistiques ici !

                table
                    thead
                        tr
                            th Info
                            th Value
                    tbody
                        tr
                            td Number of Word(s) found
                            td
                                span #{stat.nbWords}
                        tr
                            td Average try
                            td
                                span #{stat.average}
            
            div(id="blankspace") 

            footer
                p Copyright | octobre 2022
                p by CHEVRIER Chléo and MAURICE Ambre
                img(src='/sutom/static/CY_Tech.png' alt="CY Tech")